<div class = "container" align = "center">
      <div class="row" style= "margin-top : 150px;border: 1px solid gray; ">
          <div class="col-sm-4 col-md-4" style=" height : 500px; ">
 
            <h1 style= "margin-top : 50px;">Sign up</h1>
            
             
            
            <form>
              <input type="underline"  placeholder="Email Adrees"> <span class="glyphicon glyphicon-user" style="color:gray;" aria-hidden="true"></span>
              
              
              <input type="underline" placeholder="Password"> <span class="glyphicon glyphicon-lock" style="color:gray;" aria-hidden="true"></span>
            </form>
            
            </button>
            </body>
            </html>
            
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
            
              <div class="field">
                <%= f.email_field :email, autofocus: true %>
              </div>
            
              <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off" %>
              </div>
            
              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>
            
              <div class="actions">
                <%= f.submit "Sign up" %>
              </div>
            <% end %>
            
            <%= render "devise/shared/links" %>
          </div>
          <div class="col-sm-7 col-md-7"  style=" height : 500px; width : 650px; position: relative; right:0px;">
              <img src="/assets/signup_img.png" style=" height : 500px;  width : 650px; position: relative; right: 0px;" align="left" />
              <a href="/home/index"><img src="/assets/x_img.png" style=" height : 25px;  width : 25px; position: absolute; right: 10px; top:20px" align="right" /></a>
          </div>

      </div>  
</div>
