<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://malsup.github.io/jquery.cycle2.js"></script>
</head>
    <body>
        <div class="menu-top">	
        <div class="container clearfix">
            <div id="logo" class="fleft">
                <a class="navbar-brand" href="/">Travel Compass</a>
            </div>
            
            
            <div id="nav" class="fright">
                 <form action="/home/search" method="GET" class="search">
                    <div class="field">
                      <input type="text" class="input-search" id="input-search" name="search" required>
                      <label for="input-search">검색하기</label>
                    </div> <!-- /field -->
                  </form>
            </div>
            
            <div id="nav" class="fright">
                <ul class="nav nav-pills pull-right">
                    <li><a href ="/home/twitter"> 커뮤니티 </a></li>
                  <% if user_signed_in? %>
                    <li><%= current_user.email %><%= link_to "로그아웃", destroy_user_session_path, :method => :get %></li>
                  <% else %>
                    <li><%= link_to "로그인", new_user_session_path %></li>
                    <li><%= link_to "회원가입", new_user_registration_path %></li>
                  <% end %>
                </ul>
                <div class="clear"></div>
            </div>
            </div>
        </div>
            
        
        <div id="info-pages" class="container clearfix " style="margin-top: 120px;">
            <div class="grid_12 row" style="margin-bottom: 1000">
                <div class="col-md-6"> 
                 <div class="cycle-slideshow featured-image" data-cycle-fx="scrollHorz" data-cycle-timeout="2000">
                    <div class="cycle-pager"></div>
                    <div class="cycle-caption"></div>
                    <% @every_post1.asia1s.each do |r|%>
                        <img src="<%= r.asiaimg %>" width="535" height="375" alt=""/>
                    <% end %>
                 </div>
                </div>
                <div class="col-md-6" style="margin-right: 0;">
                    <ul class="tour-meta">
                        <li><i class="icon-map-marker"></i><strong>긴급연락</strong> Thailand</li>				
                        <li><i class="icon-time"></i><span></span><strong>Duration:</strong> 7 days</li>		
                        <li><i class="icon-money"></i><span></span><strong>Price:</strong> $589</li>		
                    </ul>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas vehicula porttitor condimentum. Curabitur id lobortis lectus. Praesent tincidunt blandit feugiat. Donec sollicitudin vulputate orci eget commodo justo pulvinar rumus.</p>
                    <p>Nullam tempor, magna ac tempus rutrum, quam metus pharetra enim, at luctus tortor sapien eget eros. Morbi mattis, arcu nec semper aliquet, tortor augue eleifend tellus, at consequat magna sapien id metus. Nulla commodo vulputate feugiat. 
                        Nam vel ante massa, eget semper enim. Mauris fermentum ipsum eu lacus fringilla dignissim. Curabitur eget ante tellus.  
                       </p>
                        <input type="submit" class="contact_btn send_btn" value="Book Now" />
                        <input type="reset" class="contact_btn" value="Ask a Question" />
                </div>
            </div>  
            
            <form>

       <div class ="container">
            <div class="well" style = "margin-top:450px;padding-bottom: 10px; background:white">
                <img class="icon_img" src="/assets/icon3.jpg" alt=""/>
                <h4>여행사기게시판</h4>
                       <table class="table table-hover">
                             <thead>                
                                 <tr>
                                    <th>번호</th>
                                    <th>글제목</th>
                                    <th>작성자</th>
                                    <th>작성일</th>
                                    <th>조회수</th>
                                    <th>댓글수</th>
                                </tr>
                            </thead>
                            <tbody>
                                  <% @every_post1.writings.each do |r| %>
                                <tr>
                                  <td><%= r.id %></td>
                                  <td><a href=/home/read/<%= r.id %>> <%= r.title %></a></td>
                                  <td> <%= r.user.email%> </td>
                                  <td><%= r.created_at.strftime("%Y-%m-%d") %></td>
                                  <td><%= r.number %></td>
                                  <td><%= r.replies.count %></td>
                                </tr>
                                 <% end %>
                            </tbody>
                      </table>
                          <input type="hidden" value="<%= @every_post1.id%>" name="id_of_post">
                          <button type="submit" class="btn btn-default"><a href = "/home/write/<%= @every_post1.id %>"> 작성 </a></button>
              </div>
             
                  <div class="row marketing">
                 <div class="row">
                    <% @every_post1.writings.each do |r| %>
                     <div class="col-md-4">
                        <h4><%= r.content %></h4>
                        <p><%= r.title %></p>
                          <span class="star-rating small">
                          <% 1.upto(5) do |i| %>
                            <% if i == r.avg.round(0) %>
                              <i class="on"></i>
                            <%else%>
                              <i></i>
                            <%end%>
                          <% end %>
                        </span>
                          <p><%= r.avg.round(2) %> (<%= r.replies.count %>명)</p>
                        <p><a class="btn btn-sm btn-default" href="/home/read/<%= r.id %>" role="button">자세히 보기</a></p>
                     </div>
                   <% end %>
                 </div>
              </div>
        </div>
    </div>
          
          
<div class="slidePoint" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
    
	<div class="effect_2 padding_slide2">
		<div class="container clearfix">
			
		<div class="grid_12">
			<h1>다른나라도 찾아보세요</h1>
			<h2>Cras urna leo, fringilla nec aliquam ac, varius in enim. Maecenas non felis</h2>
		</div>
		</div>
	</div>
</div>

<div class="slidePoint" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
	<div class="container clearfix">
		<img class="icon_img" src="/assets/icon2.jpg" alt=""/>
		<h2 style ="text-align:left">인기여행지</h2>
		<br>
	
        <div class="container text-center">
          
          <div class="row">
            
            <a href="/america/info/0" class="link-reset">     
                <div class="col-sm-6">
                  <img src="/assets/manhattan.jpg" class="img-responsive" style="width:100%" alt="Image">
                </div>
            </a>
            
            <a href="/europe/info/0" class="link-reset">   
            <div class="col-sm-6">
              <img src="/assets/louvre.jpg" class="img-responsive" style="width:100%" alt="Image">
            </div>
            
          </div>
          <hr>
        </div>

        <div class="container text-center">
          
          <div class="row">
            <a href="/home/info/0" class="link-reset">  
                <div class="col-sm-4">
                  <img src="/assets/fuji.jpg" class="img-responsive" style="height:100%;width:100%;" alt="Image">
                </div>
            </a>
            <a href="/home/info/4" class="link-reset">
                <div class="col-sm-4">
                  <img src="/assets/taji.jpg" class="img-responsive" style="height:100%;width:100%;" alt="Image">
                </div>
            </a>
            <a href="/home/info/7" class="link-reset">
                <div class="col-sm-4">
                  <img src="/assets/thai.jpg" class="img-responsive" style="height:100%;width:100%;" alt="Image">
                </div>
            </a>
          </div>
        </div><br>
</div>
        
         <div id="footer">
            <div class="container clearfix">
                <div class="copyright">Travel the World &copy; 2020 | <a href="javascript:void(0);">Privacy Policy</a></div>
                
            </div>
        </div>
 </form>
</html>

