<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
 
</head>

<body>
  
     <div class="ui borderless top fixed menu" style="height:70px">
      <div class="item">
         <a class="navbar-brand" href="/home/index" style="margin-left: 0px; margin-right: 0px;padding-top: 10px;padding-bottom: 0px;"><img src="/assets/title_text2.png" width="230" height="30"></a>
      </div>
      
      <div class="right menu"> 
      <div class="item">
       <form action="/home/search" method="GET">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="sample6" placeholder="검색하기" name="search" required>
              <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
            </div>
          </div>
        </form>
    </div>
    
          <a class="item" href ="/home/twitter">커뮤니티</a>

            <% if user_signed_in? %>
               <div class="ui dropdown item">
                 <%= current_user.email %><i class="dropdown icon"></i>
               <div class="menu">
                 <div class="item"><%= link_to "My Profile", edit_user_registration_path %></div>
                 <div class="item"><%= link_to "로그아웃", destroy_user_session_path, :method => :get, data: { confirm: "확실하세요?" } %></div>
               </div>
              </div>
            <% else %>
            
           <a class="item" href ="/users/sign_in">로그인</a>
           <a class="item" href ="/users/sign_up">회원가입</a>
            <% end %>
    </div>
  </div>

        

  <div class="ui internally celled grid">
  <div class="row">
        <div class="four wide column" style=" background-color: #F2F2F2"></div>
        
        <div class="seven wide column">
            <h3 style = "text-align: center">Community</h3>
                <br>
               
          <form action ="/home/twitter_write" method="POST">
                          <div class="field">
                            <label for="exampleInputEmail1"></label>
                            <input type="hidden" value="<%= Faker::Name.first_name %>" name="twitter_name">
                            
                            <input type="text" class="form-control" name="twitter_title" placeholder="제목을 입력하세요">
                            <label for="exampleInputPassword1"></label>
                              <textarea type="text"class="form-control" name="twitter_content" placeholder="내용을 입력하세요" rows="3"></textarea>
                          
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="float: right;" > 작성 </button>
                          </div>
                      
            </form>
        </div>
        
        <div class="five wide column"style=" background-color: #F2F2F2"> </div>
  </div>

<div class="row">
    <div class="four wide column"style="background-color: #F2F2F2"></div>
    <div class="seven wide column">
        <div class="ui top attached header">
            <% @every_twitter.each do |p| %> 
                <h5><%= p.twitter_title %></h5><p style="color:gray"><%=p.created_at.strftime("%h/%m/%Y") %></p>
            
            
                        <% if user_signed_in? && p.user == current_user %>
                            <form action="/home/twitter_destroy/<%= p.id %>" method="post">
                                
                                <button type="submit" class="mdl-button mdl-js-button" style="float: right;">삭제</button>
                            </form>
                            <form action="/home/twitter_updateview/<%= p.id %>" method="post">
                                <button type="submit" class="mdl-button mdl-js-button" style="float: right">수정</button>
                            </form>
                        <% end %>
                <hr>
                     <p><%= p.twitter_content %></p>
                  <hr>
         
                 
            
        <i class="talk icon"><p> 댓글 (<%=  p.twitter_comment.all.count %>)</p></i>
                    </div>
                    
  <div class="ui attached segment" style="background:#FAFAFA">             
                    <div class="ui minimal comments">
                      <div class="comment">
                        <div class="content">
                            <% p. twitter_comment.each do |r| %>
                              <a class="author"><%= r.name %></a>
                                  <div class="metadata">
                                    <span class="date"><%=p.created_at.strftime("%h/%m/%Y") %></span>
                                  </div>
                                  <div class="text">
                                       <%= r.twitter_comment %>
                                  </div>
                              
                                <a href="/home/comment_destroy/<%= r.id %>" method="POST" class="reply" style="float:right">삭제하기</a>
                              
                              <% end %>
                        </div>
                      </div>
                    </div>

                    
                        <div class="ui form">
                          <div class="flexContainer">
                              <form action="/home/twitter_comment" method="POST">
                            <input type="hidden" value="<%= p.id%>" name="twitter_id">
                            <input type="hidden" value="<%= Faker::Name.last_name %>" name="name">
                            <input type="text" name="twitter_comment" placeholder="댓글을 작성해주세요">
                            <button type="submit"  class="mdl-button mdl-js-button mdl-button--primary" style="float:right;padding-bottom: 0px;bottom: 37px;">작성</button>
                       
                             </form>
                              <% end %>
                          </div>
                        </div>
                           </div>
                    
</div>
        <div class="five wide column"style=" background-color: #F2F2F2"> </div>
 </div>
</div>

    




    <div id="footer">
        <div class="container clearfix">
            <div class="copyright">Travel the World &copy; 2020 | <a href="javascript:void(0);">Privacy Policy</a></div>
        </div>
    </div>
 
</html>
    


    

  

