<div class = "container">
<div class ="well">
<form action ="/home/twitter_write" method="POST">
  <div class="form-group" >
    <label for="exampleInputEmail1">제목</label>
    <input type="text" class="form-control" name="twitter_title" placeholder="제목">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">내용</label>
    <textarea class="form-control" name="twitter_content" placeholder="내용" rows="7"> </textarea>
  </div>
  <button type="submit" class="btn btn-default"> 작성 </button>
</form>

<% @every_twitter.each do |p| %>
    <h3>-제목-<h3>
        <hr>
        
<%= p.twitter_title %>
<hr>
 <h3>-내용-<h3>
<%= p.twitter_content %>
<br>
<h3> -댓글- </h3>
<% p. twitter_comment.each do |r| %>
<br>
                   <%= r.twitter_comment %>
                   <br>
                   <% end %>

<form action="/home/twitter_comment" method="POST">
    <textarea id="twitter_<%= p.id %>"name="twitter_comment"> </textarea>
    <button value="<%= p.id %>" type="submit" class="btn btn-default">Submit</button>
    </form>

<% end %>

</div>
</div>