<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
      <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.3/semantic.min.js"></script>
    </title>
</head>


<body>

  <div class="ui raised very padded text container segment" style="margin-top: 130px;">
    <h2>로그인</h2> <br>
    <div class="ui two column middle aligned very relaxed stackable grid">
      <div class="column">
        <div class="ui form">
          <div class="field">
            <label>이메일주소</label>
            <div class="ui left icon input">
              <input type="email" placeholder="이메일주소">
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <label>비밀번호</label>
            <div class="ui left icon input">
              <input type="password" placeholder="비밀번호">
              <i class="lock icon"></i>
            </div>
          </div>
          <div class="ui blue submit button"> </div>
        </div>
      </div>
      <div class="ui vertical divider">Or</div>
      <div class="center aligned column">
        <div class="ui big green labeled icon button">
          <i class="signup icon"></i>
          회원가입
        </div>
      </div>
    </div>
    
    
    
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
       <%= f.label :email %><br />
       <%= f.email_field :email, autofocus: true %>
       <%= f.label :password %><br />
       <%= f.password_field :password, autocomplete: "off" %>
       
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      
        <div class="actions">
          <%= f.submit "Log in" %> 
        </div>
      <% end %>
      <br>
      
      <%= render "devise/shared/links" %>
  </div>

  
</body>


</html>


