<!-- africa -->

<div class = "container-nation" style="height:100px; background-color: white; padding-left:20px;" align="left">
    <img src="/assets/title_img.png" style="height: 80px; margin-top:5px; margin-bottom:0px; margin-left: 10px; margin-right: 10px;"/>
    <img src="/assets/title_text.png" style="height: 50px; margin-top:5px;margin-bottom:0px; margin-left: 10px; margin-right: 10px;"/>
    
    <div class="row" style="align:center">
        <div class="col-md-4 col-md-offset-3" style="height:500px; width:700px; margin-top:150px; padding-top:50px; padding-bottom:30px; padding-left:50px; padding-right:50px; background-color: white">
                <p style="font-weight:bold"><%= @every_post.title %></p>
                <hr>
                <div style="height:300px;">
                    <%= @every_post.content %>
                </div>
                <hr>

                <form action="/africa/destroy/<%= @every_post.id %>" method="post">
                    <button type="submit" class="btn btn-default" style="margintop:20px" align="right">삭제</button>
                
                <form action="/africa/update_view/<%= @every_post.id %>" method="post">
                    <button type="submit" class="btn btn-default" style="margintop:20px">수정</button>
                </form></form>
        </div>
        
        <div class="col-md-4" style="height:500px; width:300px; margin-top:150px; padding-top:50px; padding-bottom:30px; padding-left:20px; padding-right:20px; background-color:#DDDDDD">
                <label for="exampleInputEmail1">댓글(<%= @every_post.replies.count %>)</label><hr>
                <% @every_post.replies.each do |r| %>
                    <%= r.content %><hr>
                <% end %>
                
                <form style="margin-top:4px;">
                    <input type="hidden" value="<%= @every_post.id%>" name="id_of_post">
                    <textarea name="content" class="form-control" rows="2" id="commit"></textarea>
                    <button type="submit" class="btn btn-default" style="margin-top:30px">전송</button>
                </form>        
        </div>
    </div>  
</div>

 <script>
 $.ajax({
  method: "POST",
  url: "/africa/reply_write",
  data: { name: "John", location: "Boston" }
})
  .done(function( msg ) {
    alert( "댓글이 작성되었습니다." );
  });
  </script>
